#Menu{
    max-width: 100%;
    margin: auto;
}
#texto {
    max-width: 80%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-style: italic;
    color: white;
}
.cuerpo{
    background-repeat: no-repeat;
    background-size:100%;
}
#fondo{
    background-image: url("../imagenes/943740-vertical-hbo-game-of-thrones-wallpapers-1920x1080-for-iphone-5s.jpg");
    background-repeat: no-repeat;
}


ul {
    text-align: justify;
    list-style-type: none;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: red;
}
h1{
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 400px;
    height: 75px;
}
body{
background-size: cover;
    background-repeat: no-repeat;
}
#blanco{
    color: white;
}
.pie{
    color: antiquewhite;
}
h2{
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    text-align: center;
    color: white;
    font-size: 30px;
}
.texto1{
    max-width: 80%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-style: italic;
    color: white;
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.2);
}
h3{
    max-width: 80%;
    font-style: italic;
    color: white;
    font-size: 25px;
}